header {
	background-color: gray;

}
ul {
	float: right;

}
h1 {
	display: inline-block;
	font-size: 30px;
}
h2 {
	text-align: center;
}
#container {
  height: 150px;
  text-align: justify;
  max-width: 800px;
  position: relative;
  left: 28%;
  top: 30%;
}
#container div {
	border: 2px solid black;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px; 
	width: 150px;
  	height: 150px;
  	text-align: left;
  	display: inline-block;
}
#container:after {
  content: '';
  width: 100%;
  display: inline-block;
}
.krug {
	border: 2px solid black;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: black;
	top: 70px;
	left: 50px;
}
#krug1 {
	position: relative;
	top: 188px;
	left: 593px;
}
#krug2 {
	position: relative;
	top: 134px;
	left: 800px;
}
#krug3 {
	position: relative;
	top: 80px;
	left: 1010px;
}
#krug4 {
	position: relative;
	top: 26px;
	left: 1220px;
}